{% extends "base.html" %}
{% block title %}Webapplicaties{% endblock %}
{% block content %}
    <section class="header-page">
                <div class="container">
                    <div class="header-page__inner --grid">
                        <div class="header-page__img">
                            <img src="/config/static/images/header-page__img-3.jpg" alt="">
                        </div>
                        <div class="header-page__content">
                            <h2 class="subtitle">{{ name }}</h2>
                            <div class="desc">
                                <p>{{ header_desc | safe}}</p>
                            </div>
                            <a href="#offer-intro" class="btn --btn-yellow-transparent js-scroll-to">start nu</a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="offer-intro" class="offer-intro intro-case-content bg-ellipse5 bg-ellipse6">
                <div class="container">
                    <div class="intro-case-content__inner --grid">
                        <div class="intro-case-content__header">
                        </div>
                        <div class="intro-case-content__case" data-aos="fade-up" data-aos-duration="500">
                            <a href="{{ case_1.get_absolute_url }}" class="cases-card">
                                <div class="cases-card__img">
                                    <img src="{{ case_1.cover.url }}" alt="">
                                </div>
                                <div class="cases-card__content">
                                    <div class="cases-card__top">
                                        <div class="cases-card__label">mobiele app</div>
                                        <span class="read-more --white">bekijk case</span>
                                    </div>
                                    <div class="cases-card__bottom">
                                        <span class="read-more --white">{{ case_1.name }}</span>
                                        <div class="cases-card__desc">Een tot twee lijnen over deze case met korte intro over wat het is</div>
                                    </div>
                                </div>
                            </a>
                        </div>
                        <div class="intro-case-content__content" data-aos="fade-up" data-aos-duration="500">
                            <div class="--content">
                                <p>{{ body_desc | safe }}</p>
                            </div>
                            <a href="#contact-section" class="btn --btn-yellow js-scroll-to">neem contact op</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="content-thesis">
                <div class="container">
                    <div class="content-thesis__inner --grid">
                        <div class="content-thesis__left">
                            <div class="content-thesis__header">
                                <h3 class="subtitle" data-aos="fade-up" data-aos-duration="500">Jouw betrouwbare partner</h3>
                            </div>
                            <div class="content-thesis__content --content" data-aos="fade-up" data-aos-duration="500">
                                <p>{{ expect_desc | safe}}</p>
                            </div>
                            <a href="#contact-section" class="btn --btn-yellow-transparent js-scroll-to">neem contact op</a>
                        </div>
                        <div class="content-thesis__thesis-list">
                        {% for expectation in expectations %}
                            <div class="content-thesis__thesis-item glass-box" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0">
                                <span>{{ expectation.name }}</span>
                            </div>
                        {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="two-cases">
                <div class="container">
                    <div class="two-cases__header">
                        <h3 class="subtitle" data-aos="fade-up" data-aos-duration="500">Onze cases</h3>
                        <h2 data-aos="fade-up" data-aos-duration="500">Succesvolle cases</h2>
                        <div class="desc" data-aos="fade-up" data-aos-duration="500">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                        </div>
                    </div>
                    <div class="cases-list">
                        {% for case in two_cases %}
                            <div class="cases-list-item" data-aos="fade-up" data-aos-duration="500">
                                <a href="{{ case.get_absolute_url }}" class="cases-card">
                                    <div class="cases-card__img">
                                        <img src="{{ case.cover }}" alt="">
                                    </div>
                                    <div class="cases-card__content">
                                        <div class="cases-card__top">
                                            <div class="cases-card__label">mobiele app</div>
                                            <span class="read-more --white">bekijk case</span>
                                        </div>
                                        <div class="cases-card__bottom">
                                            <span class="read-more --white">{{ case.name }}</span>
                                            <div class="cases-card__desc">Een tot twee lijnen over deze case met korte intro over wat het is</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}
                    </div>
                    <a href="{% url 'website:case-list' %}" class="btn --btn-yellow-transparent">bekijk al onze cases</a>
                </div>
            </section>

            <section id="contact-section" class="contact-section bg-bottom">
                {% include "includes/contact-section.html" %}
            </section>
{% endblock %}