{% extends "base.html" %}
{% block title %}Diensten{% endblock %}
{% block content %}
    <section class="header-page header-page-no-img bg-ellipse7">
                <div class="container">
                    <div class="header-page__inner --grid">
                        <div class="header-page__content">
                            <h2 class="subtitle">Onze diensten</h2>
                            <h1>Hoe wij digitale optimalisatie realiseren</h1>
                            <div class="desc">
                                <p>Wij zijn een full-service digitaal bureau dat zich richt op het leveren van hoogwaardige en op maat gemaakte digitale oplossingen voor onze klanten. Maar je vraag je af hoe? Door de jaren heen hebben we ons verdiept in optimalisatie en we kunnen met trots zeggen dat we dit ook steeds succesvol doen. We hebben ons gespecialiseerd in verscheidene diensten die ons helpen dit doel te behalen.</p>
                            </div>
                            <a href="/cases.php" class="btn --btn-yellow-transparent">ontdek onze cases</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="services">
                <div class="container">
                    <div class="services__inner">
                        <div class="services__list js-acc">
                            {% for service in service_list %}
                                <div class="services__list-item acc__row js-acc__row open">
                                    <div class="acc__head js-acc__head">
                                        <h3 class="like-h3 decoration-hover">{{ service.name }}</h3>
                                    </div>
                                    <div class="acc__body --content js-acc__body">
                                        <p>{{ service.description }}</p>

                                    </div>
                                    <i class="acc__icon js-acc__head"></i>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="two-cases">
                <div class="container">
                    <div class="two-cases__header --text-center">
                        <h2 data-aos="fade-up" data-aos-duration="500">Bekijk succesvolle cases</h2>
                    </div>
                    <div class="cases-list">

                        <div class="cases-list-item" data-aos="fade-up" data-aos-duration="500">
                            <a href="/cases-detail.php" class="cases-card">
                                <div class="cases-card__img">
                                    <img src="/config/static/images/cases-card__img-1.jpg" alt="">
                                </div>
                                <div class="cases-card__content">
                                    <div class="cases-card__top">
                                        <div class="cases-card__label">mobiele app</div>
                                        <span class="read-more --white">bekijk case</span>
                                    </div>
                                    <div class="cases-card__bottom">
                                        <span class="read-more --white">naam van case</span>
                                        <div class="cases-card__desc">Een tot twee lijnen over deze case met korte intro over wat het is</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                        <div class="cases-list-item" data-aos="fade-up" data-aos-duration="500">
                            <a href="/cases-detail.php" class="cases-card">
                                <div class="cases-card__img">
                                    <img src="/config/static/images/cases-card__img-1.jpg" alt="">
                                </div>
                                <div class="cases-card__content">
                                    <div class="cases-card__top">
                                        <div class="cases-card__label">mobiele app</div>
                                        <span class="read-more --white">bekijk case</span>
                                    </div>
                                    <div class="cases-card__bottom">
                                        <span class="read-more --white">naam van case</span>
                                        <div class="cases-card__desc">Een tot twee lijnen over deze case met korte intro over wat het is</div>
                                    </div>
                                </div>
                            </a>
                        </div>

                    </div>
                    <a href="/cases.php" class="btn --btn-yellow-transparent">bekijk al onze cases</a>
                </div>
            </section>

            <section class="contact-section bg-bottom">
                <?php include '_includes/contact-section.html';?>
            </section>
{% endblock %}