{% extends "base.html" %}
{% block title %}Webapplicaties{% endblock %}
{% block content %}
    <section class="header-page">
                <div class="container">
                    <div class="header-page__inner --grid">
                        <div class="header-page__img">
                            <img src="/config/static/images/header-page__img-1.jpg" alt="">
                        </div>
                        <div class="header-page__content">
                            <h2 class="subtitle">{{ name}}</h2>
                            <div class="desc">
                                <p>{{ header_desc | safe}}</p>
                            </div>
                            <a href="#offer-intro" class="btn --btn-yellow-transparent js-scroll-to">start nu</a>
                        </div>
                    </div>
                </div>
            </section>

            <section id="offer-intro" class="offer-intro intro-content-list bg-ellipse5 bg-ellipse6">
                <div class="container">
                    <div class="intro-content-list__inner --grid">
                        <div class="intro-content-list__content">
                            <div class="--content">
                                {{ body_desc | safe}}
                            </div>
                            <a href="#contact-section" class="btn --btn-yellow js-scroll-to">neem contact op</a>
                        </div>
                    </div>
                </div>
            </section>

            <section class="box-content">
                <div class="container">
                    <div class="box-content__inner">
                        <div class="box-content__header header-btns">
                            <div class="header-btns__header">
                                <h3 class="subtitle" data-aos="fade-up" data-aos-duration="500">Jouw betrouwbare partner</h3>
                                <h2 data-aos="fade-up" data-aos-duration="500">Wat kan je van ons verwachten?</h2>
                            </div>
                            <div class="header-btns__btns btn-block" data-aos="fade-up" data-aos-duration="500">
                                <a href="#" class="btn --btn-yellow-transparent">gratis analyse</a>
                                <a href="#contact-section" class="btn --btn-yellow js-scroll-to">neem contact op</a>
                            </div>
                        </div>
                        <div class="box-content__list">
                            {% for expectation in expectations %}
                                <div class="box-content__item glass-box" data-aos="fade-up" data-aos-duration="500" data-aos-delay="0">
                                    <h5 class="like-h5">{{ expectation.name }}</h5>
                                    <p>{{ expectation.description | safe}}</p>
                                </div>
                            {% endfor %}
                        </div>
                    </div>
                </div>
            </section>

            <section class="two-cases">
                <div class="container">
                    <div class="two-cases__header">
                        <h3 class="subtitle" data-aos="fade-up" data-aos-duration="500">Onze cases</h3>
                        <h2 data-aos="fade-up" data-aos-duration="500">Succesvolle cases</h2>
                        <div class="desc" data-aos="fade-up" data-aos-duration="500">
                            <p>Lorem ipsum dolor sit amet, consetetur sadipscing elitr, sed diam nonumy eirmod tempor invidunt ut labore et dolore magna aliquyam.</p>
                        </div>
                    </div>
                    <div class="cases-list">
                        {% for case in two_cases %}

                            <div class="cases-list-item" data-aos="fade-up" data-aos-duration="500">
                                <a href="{{ case.get_absolute_url }}" class="cases-card">
                                    <div class="cases-card__img">
                                        <img src="{{ case.cover }}" alt="">
                                    </div>
                                    <div class="cases-card__content">
                                        <div class="cases-card__top">
                                            <div class="cases-card__label">mobiele app</div>
                                            <span class="read-more --white">bekijk case</span>
                                        </div>
                                        <div class="cases-card__bottom">
                                            <span class="read-more --white">{{ case.name }}</span>
                                            <div class="cases-card__desc">Een tot twee lijnen over deze case met korte intro over wat het is</div>
                                        </div>
                                    </div>
                                </a>
                            </div>
                        {% endfor %}

                    </div>
                    <a href="{% url 'website:case-list' %}" class="btn --btn-yellow-transparent">bekijk al onze cases</a>
                </div>
            </section>

            <section id="contact-section" class="contact-section bg-bottom">
                {% include "includes/contact-section.html" %}
            </section>
{% endblock %}